<div class="form-group">
  <label for="url-link">URL</label>
  <input type="url" class="form-control" id="url-link" placeholder="Web Address Here">
</div>
<div class="form-group">
  <label for="link-title">Title</label>
  <input type="text" class="form-control" id="link-title" placeholder="Link Title">
</div>
<div class="form-group">
  <label for="link-tags">Tags</label>
  <input type="text" class="form-control" id="link-tags" placeholder="Describe the link">
</div>
<button type="submit" class="btn btn-default btn-primary">BookMark It</button>
